.titleColor {
    color: rgb(156, 220, 254);
}

.titleFontSm {
    font-size: 15px;
}

.titleFontLg {
    font-size: 25px;
}

.logoDisplay {
    width: 100%;
}

.SmalllogoDisplay {
    width: 60%;
}

.miniLogoDisplay {
    height: 36px;
    width: 36px;
}
