.titleColor {
    color: rgb(156, 220, 254);
}

.titleFontSm {
    font-size: 12px;
}

.titleFontMd {
    font-size: 25px;
}

.titleFontLg {
    font-size: 30px;
}

.lgLogoDisplay {
    width: 90%;
    height: auto;
}

.smLogoDisplay {
    width: 55%;
    height: auto;
}

.miniLogoDisplay {
    height: 36px;
    width: auto;
    margin-left: 3px;
}

.readMoreButton {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
}

.hoverColor:hover {
    color: rgb(156, 220, 254);
}