.titleColor {
    color: rgb(156, 220, 254);
}

.titleFontXsm {
    font-size: 16px;
    margin-right: 20px;
}

.titleFontSm {
    font-size: 20px;
    margin-right: 20px;
}

.titleFontMd {
    font-size: 25px;
    margin-right: 20px;
}

.titleFontLg {
    font-size: 30px;
    margin-right: 20px;
}

.lgLogoDisplay {
    width: 90%;
    height: auto;
}

.smLogoDisplay {
    width: 55%;
    height: auto;
}

.miniLogoDisplay {
    height: 36px;
    width: 36px;
}

.readMoreButton {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 10px;
}

.hoverColor:hover {
    color: rgb(255,255,255,0.5);
}

.navButtonSize {
    padding: 2px;
}

.cardAnchorTag {
    text-align: center;
    color: black;
    text-decoration: none;
}

.collapse > ul > li > a > div.active > p {
    color: rgb(255,255,255,0.5);
}

.navAnchorTag {
    color: white;
    text-decoration: none;
}


.blankDivForNavbar {
    min-height: 30px;
    min-width: 100px;
}

.cardEffect:hover {
    color: rgba(0, 0, 0, 0.50); 
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.navItemAnimation li {
    animation: fadeIn 500ms ease-in-out forwards;
    opacity: 0;
}

.navItemAnimation li:nth-child(1) {
    animation-delay: 0ms;
}

.navItemAnimation li:nth-child(2) {
    animation-delay: 30ms;
}

.navItemAnimation li:nth-child(3) {
    animation-delay: 60ms;
}

.navItemAnimation li:nth-child(4) {
    animation-delay: 90ms;
}

.navItemAnimation li:nth-child(5) {
    animation-delay: 120ms;
}
